<div class="pt-5 hero">
  <div class="mycontainer shadow">
    <!-- hotel reservation -->
    <form class="myform">
      <h2 class="border-bottom">Book your hotel</h2>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Check in</label>
        <input type="date" class="form-control" id="datestart" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Check out</label>
        <input type="date" class="form-control" id="datestart" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">City</label>
        <select class="form-select" aria-label="Default select example">
          <option selected>Select a city</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Guests</label>
        <select class="form-select" aria-label="Default select example">
          <option selected>Select a number of guests</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Check availibility</button>
    </form>
  </div>
</div>
